.menu-toolbar-container {
  background-color: #fff;
  border: 1px solid #f2f3f5;
  box-shadow: 0 0 4px #e5e6eb;
  padding: 3px 5px;
  .arco-menu-inner {
    display: flex;
    padding: 2px 0;
  }
  .arco-menu-item,
  .arco-menu-pop {
    display: flex;
    height: 28px;
    justify-content: center;
    align-items: center;
    line-height: unset;
    margin: 0 3px;
    padding: 0;
    width: 28px;
    border-radius: 4px;
  }

  .arco-menu-pop {
    width: 50px;
    .arco-menu-icon-suffix {
      display: flex;
      align-items: center;
      margin-left: 5px;
      svg {
        transform: rotate(90deg);
      }
    }
  }
}

.align-menu-center {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.arco-dropdown-menu {
  position: relative;
  box-sizing: border-box;
  max-height: 200px;
  padding: 4px 0;
  border: 1px solid #e5e6eb;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.arco-dropdown-menu-item,
.arco-dropdown-menu-pop-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 36px;
  text-align: left;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-text-1);
  background-color: transparent;
}

.arco-icon {
  margin: 0;
  width: 14px;
  height: 14px;
}

.arco-menu-light .arco-menu-group-title:hover,
.arco-menu-light .arco-menu-inline-header:hover,
.arco-menu-light .arco-menu-item:hover,
.arco-menu-light .arco-menu-pop-header:hover,
.arco-dropdown-menu-item:hover {
    background-color: #f2f3f5;
    color: #4e5969;
}
